#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 6000;
  background-color: rgba($mc-deep,.8);
  padding: 10px 0;
  .logo {
    float: left;
    color: #fff;
    font-size: 1.4rem;
    line-height: 40px;
  }
  .menu {
    float: right;
    li {
      display: inline-block;
      vertical-align: middle;
      padding: 5px 10px;
      a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: #fff;
          transition: width .3s $easeInOutSine;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -3px;
          margin: auto;
        }
        &:hover:after{
          width: 100%;
        }
      }
      &.active a:after{
        width: 100%;
      }
    }
  }
  .hamburger {
    display: none;
    float: right;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
    .icon-menu {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      font-size: 30px;
      line-height: 40px;
    }
    @media (max-width: 768px) {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  header{
    .hamburger{
      transition: transform .5s $easeInOutSine;
      &.open{
        transform: rotate(90deg);
      }
    }
    .menu{
      display: flex;
      align-items: center;
      float: none!important;
      width: 100%;
      height: calc(100vh - 60px);
      clear: both;
      background-color: rgba(0,0,0,.8);
      transform-origin: center top;
      transform: rotateX(90deg);
      position: absolute;
      top: 40px;
      left: 0;
      ul,li,a{
        width: 100%;
      }
      li{
        margin-bottom: 2rem;
      }
      a{
        display: block;
        text-align: center;
        padding: 5px;
        font-size: 20px;
        &::after{
          width: 40px!important;
        }
      }
      &.open{
        position: relative;
        top: 0;
      }
    }
  }
}